.border {
    
    table-layout:auto;
    width: 65%;
    border-collapse: collapse;
    border: 3px solid purple;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
 
   
  }
  th {
    letter-spacing: 2px;
    width: 10px;
  }
  
  td {
    letter-spacing: 1px;
  }
  tr:hover {background-color: rgb(236, 160, 233);}
  .head{
    background-color: rgb(182, 212, 224);
    border: solid;
  }
  th, td {
    border: 1px solid rgb(71, 68, 68);
  }
  #title{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: auto;
  }
  